<form action="/sign_in" method="post">
  <label for="fname">Email:</label><br>
  <input type="text" id="email" name="email" value="john@hellonext.co"><br>

  <label for="fname">Name:</label><br>
  <input type="text" id="name" name="name" value="John Smith"><br>

  <input type="hidden" id="domain" name="domain" value="<%= params[:domain] %>"><br>
  <input type="hidden" id="redirect" name="redirect" value="<%= params[:redirect] %>"><br>

  <input type="submit" value="Submit">
</form>
